// 
/* Base styles for .scrollable-container */
.scrollable-container {
  width: 100%;
  /* Use 100% width for all screen sizes */
  max-width: 1050px;
  /* Limit the maximum width */
  height: 440px;
  overflow-x: scroll;
  /* Make the content scrollable horizontally */
  padding: 10px;
}

/* Add media query for small screens */
@media (max-width: 740px) {
  .scrollable-container {
    max-width: 672px;
    /* Adjust the maximum width for smaller screens */
  }
}

/* Add another media query for even smaller screens */
@media (max-width: 460px) {
  .scrollable-container {
    max-width: 400px;
    /* Further adjust the maximum width for very small screens */
  }
}