.content-section {

  max-height: calc(100vh-3vh);
  min-width: calc(100% - 312px);
  height: 82vh;
  overflow-x: hidden !important;

  @media (max-width: 768px) {
    /* Adjust padding and margin for smaller screens */
    margin: 12px 8px;
    padding: 12px;
  }
}

body {
  background-color: #F1F4FA;
  height: 100%;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .ant-layout-content {
    margin: 0% !important;

  }

  .ant-card-body {
    padding: 10px !important;
  }

}

.content {
  margin: 20px;
}

.ant-layout .ant-layout-sider-light {
  height: 90vh !important;

}

.ant-table-wrapper .ant-table-thead>tr>th,
::before {
  background-color: unset !important;
}

.ant-picker-calendar .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  border-radius: 7px;

  box-shadow: #F1F4FA;
}

.ant-picker-calendar .ant-picker-calendar-mini {
  border: 1px solid var(--light-version-background, #F1F4FA);
}

.table-div {

  display: flex;
  align-Items: center;
  gap: 20px;
  white-space: nowrap;
  color: var(--light-version-text, #06152B);
  /* Body 2 */
  font-family: DM Sans;
  font-size: 14.22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rowClassName1 {
  padding: 20px 0;
  /* Adjust the padding as needed to create space between rows */
}

.rowClassName1 td:first-child {
  border-top-left-radius: 10px;

}

.rowClassName1 td:last-child {
  border-top-right-radius: 10px;

}

.ant-table-thead {
  background-color: transparent !important;
}